.mainBlock{
    background-color: white;
    width: 80%;
    height: 85%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 25px;
    box-shadow: inset 0px 0px 10px 3px rgb(0, 0, 0,0.25);
    z-index: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.mainBlock::-webkit-scrollbar{
    width: 0px;
}
.isPost{
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.postInfo{
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.Post-Creater-Info{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.Post-Creater-Info h4,.Post-Creater-Info p{
    margin: 0px;
    display: block;
}
.Post-Views-Subscribe{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;
}
.Post-Views-Subscribe span{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.Post-Views-Subscribe p{
    margin: 0px;
    display: inline-block;
}
.Post-Views-Subscribe button{
    background-color: #FFD2CF;
    border: none;
    color: #8A5B4A;
    border-radius: 10px;
    width: 125px;
    height: 37px;
    font-size: 20px;
    font-family: Itim;
    cursor: pointer;
}
.Post-Main-Text{
    margin-top: 35px;
    margin-bottom: 35px;
}
.Post-Touch-Activity{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.Post-Button-Activity{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: center;
}
.Post-Button-Activity button{
    width: 90px;
    height: 45px;
    font-size: 16px;
    color: #8A5B4A;
    font-family: Itim;
    background-color:#FFD2CF ;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.Post-Button-Activity img{
    width: 20px;
    height: 20px;
}
.Post-Button-Share{
    background-color: rgb(255, 255, 255, 0);
    border: none;
    width: 35px;
    height: 35px;
    padding:0px;
    cursor: pointer;
}
.Post-Button-Share img{
    width: 100%;
    height: 100%;
}
.Separator{
    width: 60%;
    height: 2px;
    content: "";
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.Post-Img-Container{
    width: 100%;
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*gap: 10px;*/
    /*justify-content: center;*/

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 1fr 0.5fr;
    grid-row-gap: 8px;

    margin-bottom: 30px ;
}
.Post-Img-Container img{
    object-fit: contain;
    max-width: 320px;
}
.First-Row-Images-Post{
    width: 100%;
    height: 100%;

    /*max-width: 320px;*/
}
/*.Second-Row-Images-Post{*/
/*    max-width: 100px;*/
/*}*/